# eDiag Prod S3
S3_ENDPOINT_0=              
S3_ENDPOINT_0_BUCKET_0=     
S3_ACCESS_KEY_0=            
S3_SECRET_KEY_0=            

# VEIS Dev S3
S3_ENDPOINT_1=              
S3_ENDPOINT_1_BUCKET_0=     
S3_ACCESS_KEY_1=            
S3_SECRET_KEY_1=            

# eDiag Dev S3
S3_ENDPOINT_2=              
S3_ENDPOINT_2_BUCKET_0=     
S3_ENDPOINT_2_BUCKET_1=     
S3_ENDPOINT_2_BUCKET_2=     
S3_ENDPOINT_2_BUCKET_3=     
S3_ENDPOINT_2_BUCKET_4=     
S3_ENDPOINT_2_BUCKET_5=     
S3_ENDPOINT_2_BUCKET_6=     
S3_ENDPOINT_2_BUCKET_7=     
S3_ENDPOINT_2_BUCKET_8=     
S3_ENDPOINT_2_BUCKET_9=     
S3_ENDPOINT_2_BUCKET_10=    
S3_ENDPOINT_2_BUCKET_11=    
S3_ENDPOINT_2_BUCKET_12=    
S3_ENDPOINT_2_BUCKET_13=    
S3_ENDPOINT_2_BUCKET_14=    
S3_ENDPOINT_2_BUCKET_15=    
S3_ENDPOINT_2_BUCKET_16=    
S3_ENDPOINT_2_BUCKET_17=    
S3_ENDPOINT_2_BUCKET_18=    
S3_ACCESS_KEY_2=            
S3_SECRET_KEY_2=            

DB_SERVER=              
DB_NAME=                
DB_USERNAME=            
DB_PASSWORD=            

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=localdev
POSTGRES_USER=root
POSTGRES_PASSWORD=root
